
<div class="col-2 ctm-fullh" id="sidebar">
  <div class="row user-info">
    <div class="col-6">
      <div class="avatar"></div>
    </div>

    <div class="col-6 info">
      <a href="/dashboard/user"><span><b><%= user.local.email %></b></span></a>
      <br>
      <a href="/logout">log out</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <a href="/dashboard"><li><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></li></a>
        <a href="/dashboard/campaigns"><li><i class="fa fa-bullhorn" aria-hidden="true"></i><span>Campaigns</span></li></a>
        <a href="/dashboard/editor"><li><i class="fa fa-pencil" aria-hidden="true"></i><span>Editor</span></li></a>
      </ul>
    </div>
  </div>
  <button id="hola" type="button" name="button">
    hola
  </button>
</div>
<script type="text/javascript">
  $('#hola').click(function(){
    if ($('#sidebar').hasClass('col-2')) {
      $('#sidebar').removeClass('col-2');
    } else {
      $('#sidebar').addClass('col-2');
    }
    $('#sidebar').toggleClass('col-1');
    console.log("hola");
    // $('#sidebar').removeClass('col-2');
    // $('#sidebar').addClass('col-1');
  });
</script>
