<div class="col-2" id="sidebar">
  <!-- <p><b>usuario: </b><brp> -->
  <div class="row user-info justify-content-center">
    <div class="col-4">
      <div class="avatar rounded-circle"></div>
    </div>

    <div class="col-6 info">
      <a href="/dashboard/user"><span><b><%= username %></b></span></a>
      <br>
      <a href="/dashboard/logout">log out</a>
    </div>
  </div>
  <hr>
  <ul>
    <a href="/dashboard/home"><li><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></li></a>
    <a href="/dashboard/campaigns"><li><i class="fa fa-bullhorn" aria-hidden="true"></i><span>Campaigns</span></li></a>
  </ul>
</div>
