<div class="col-1" id="sidebar">
  <div class="row">
    <div class="col sidecont">
      <div class="row">
        <div class="col-12 avatar text-center">
          <a href="/dashboard/user">
            <img src="/img/foto.png" class="img-responsive" alt="">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <!--<h3><%= user.local.email %></h3>-->
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <a href="/logout" class="btn btn-danger btn-sm">Log out<a> 
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul>
            <a href="/dashboard">
              <li><i class="fa fa-home" aria-hidden="true"></i> <br><span>Home</span></li>
            </a>
          <a href="/dashboard/campaigns">
            <li><i class="fa fa-bullhorn"></i><br><span>Campaigns</span></li>
          </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#hidemenu').click(function () {
    $('.sidecont').css('display', 'none');
    $('#sidebar').removeClass('col-2');
  })
</script>