b {
    color: #673AB7;
}

a {
  color: #2c3e50;
}

a:hover {
  text-decoration: none;
  color: #34495e;
}

button, .btn-primary {
  background-color: #673AB7;
  border-color: #673AB7;
  border-radius: 0px;
}

button:hover, .btn-primary:hover {
  background-color: #7E57C2;
  border-color: #7E57C2;
}

button.close:hover {
  background-color: #673AB7;
  color: #FFF;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  padding: 4px 15px;
  background-color: #673AB7;
  color: #FFF;
}

.modal-header button {
  color: #FFF;
}

/* INDEX */
.jumbotron {
  background-color: transparent;
}

.bg {
  background-image: url("/img/portadalg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* LOGIN */

.form-group input {
  border-radius: 0px;
}
