<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>

    <header>
        <% include ../../partials/header %>
    </header>

    <main class="container-fluid">
      <div class="row">
        <div class="col-12 title">
          <h2><%= title %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 title">
        </div>
      </div>
        <div class="row">
          <% include ../../partials/dashboard/sidebar %>
          <div class="col-10" id="content">
            <%- content %>
          </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>
