<!DOCTYPE html>
<html lang="es">
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <main class="container-fluid ctm-fullh">
    <div class="row ctm-fullh">
      <% include ../../partials/dashboard/sidebar %>
      <div class="col-10">
        <div class="row animated FadeInRight">
          <div class="col-12 title">
            <h2>Home</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum nunc id ante mattis, vel vestibulum massa sodales. Morbi rhoncus dictum maximus. Sed maximus enim in orci vehicula placerat. Mauris euismod ex sed arcu blandit, eu rhoncus massa porttitor. Aliquam erat volutpat. Vestibulum lacus metus, ornare non nibh in, varius imperdiet leo. Nam non sem magna. Aliquam erat volutpat. Mauris laoreet condimentum sem, a tristique nisi dictum ac. Nam sit amet tempus quam.

Sed pulvinar gravida commodo. Morbi at aliquet ligula. Quisque molestie arcu sed est viverra sodales. Maecenas sit amet risus in mauris ultricies elementum. Aenean ut ex eget sapien pulvinar suscipit eu nec lectus. In augue metus, eleifend id pellentesque at, elementum at diam. Phasellus dignissim pharetra orci. Duis tristique consequat facilisis. Sed ut volutpat arcu. Nulla ultrices, urna non laoreet maximus, ante dolor blandit lacus, in sagittis nunc tellus et quam.

Aliquam erat volutpat. Morbi sed purus eleifend, tincidunt ligula non, vestibulum est. Quisque dignissim quam ac leo fringilla aliquet. Aenean dignissim gravida risus, aliquam pulvinar elit convallis eget. Phasellus egestas nibh ut leo placerat imperdiet. Proin velit dolor, imperdiet ut purus ut, malesuada commodo diam. Nulla commodo pellentesque risus vitae euismod. Etiam a dolor maximus, rhoncus augue a, aliquet mi. Etiam pretium mi justo, sed maximus augue vehicula ac. Pellentesque vitae odio lobortis, pharetra sapien sit amet, condimentum ligula. Nunc nec orci hendrerit, finibus sem vel, placerat mi. Sed id maximus nisi, a ultricies massa. Sed placerat urna non porttitor sodales. Sed viverra, mauris vitae porttitor aliquam, metus leo ornare erat, id eleifend sapien odio vitae tortor.

Integer nunc ante, tincidunt sit amet tellus et, mattis pharetra eros. Sed est leo, volutpat vitae tincidunt faucibus, accumsan vel erat. Donec consectetur vestibulum volutpat. Mauris et purus mattis, ornare orci vel, fringilla nunc. Morbi finibus leo non ante congue fermentum. Vivamus tristique ipsum tortor, at luctus dolor mattis vel. Quisque vehicula, tellus non hendrerit sagittis, tellus nisl viverra nunc, quis elementum turpis massa lacinia ligula. Curabitur egestas elit non ipsum pulvinar bibendum. Cras et tincidunt ipsum. Phasellus porttitor aliquet rutrum.

Ut volutpat quam nulla, convallis gravida lectus sagittis quis. Aliquam sit amet nibh quis nulla placerat lacinia vel vitae leo. In consectetur dictum tellus, at fermentum ipsum porta a. Cras felis lacus, tincidunt non arcu nec, feugiat egestas mauris. Fusce fermentum, tortor ac porta sagittis, velit arcu interdum leo, ac interdum neque urna pulvinar tortor. Vivamus nibh ligula, pulvinar semper est vel, euismod mattis est. Vestibulum auctor, magna vestibulum consectetur ultricies, felis nisi pharetra sapien, et elementum metus diam vitae eros. Nam commodo volutpat odio non ornare. Pellentesque ornare convallis tincidunt. Vestibulum at nisi commodo nibh auctor sodales ut in neque. Etiam ac quam cursus, dapibus massa sed, tempor lorem.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum nunc id ante mattis, vel vestibulum massa sodales. Morbi rhoncus dictum maximus. Sed maximus enim in orci vehicula placerat. Mauris euismod ex sed arcu blandit, eu rhoncus massa porttitor. Aliquam erat volutpat. Vestibulum lacus metus, ornare non nibh in, varius imperdiet leo. Nam non sem magna. Aliquam erat volutpat. Mauris laoreet condimentum sem, a tristique nisi dictum ac. Nam sit amet tempus quam.

Sed pulvinar gravida commodo. Morbi at aliquet ligula. Quisque molestie arcu sed est viverra sodales. Maecenas sit amet risus in mauris ultricies elementum. Aenean ut ex eget sapien pulvinar suscipit eu nec lectus. In augue metus, eleifend id pellentesque at, elementum at diam. Phasellus dignissim pharetra orci. Duis tristique consequat facilisis. Sed ut volutpat arcu. Nulla ultrices, urna non laoreet maximus, ante dolor blandit lacus, in sagittis nunc tellus et quam.

Aliquam erat volutpat. Morbi sed purus eleifend, tincidunt ligula non, vestibulum est. Quisque dignissim quam ac leo fringilla aliquet. Aenean dignissim gravida risus, aliquam pulvinar elit convallis eget. Phasellus egestas nibh ut leo placerat imperdiet. Proin velit dolor, imperdiet ut purus ut, malesuada commodo diam. Nulla commodo pellentesque risus vitae euismod. Etiam a dolor maximus, rhoncus augue a, aliquet mi. Etiam pretium mi justo, sed maximus augue vehicula ac. Pellentesque vitae odio lobortis, pharetra sapien sit amet, condimentum ligula. Nunc nec orci hendrerit, finibus sem vel, placerat mi. Sed id maximus nisi, a ultricies massa. Sed placerat urna non porttitor sodales. Sed viverra, mauris vitae porttitor aliquam, metus leo ornare erat, id eleifend sapien odio vitae tortor.

Integer nunc ante, tincidunt sit amet tellus et, mattis pharetra eros. Sed est leo, volutpat vitae tincidunt faucibus, accumsan vel erat. Donec consectetur vestibulum volutpat. Mauris et purus mattis, ornare orci vel, fringilla nunc. Morbi finibus leo non ante congue fermentum. Vivamus tristique ipsum tortor, at luctus dolor mattis vel. Quisque vehicula, tellus non hendrerit sagittis, tellus nisl viverra nunc, quis elementum turpis massa lacinia ligula. Curabitur egestas elit non ipsum pulvinar bibendum. Cras et tincidunt ipsum. Phasellus porttitor aliquet rutrum.

Ut volutpat quam nulla, convallis gravida lectus sagittis quis. Aliquam sit amet nibh quis nulla placerat lacinia vel vitae leo. In consectetur dictum tellus, at fermentum ipsum porta a. Cras felis lacus, tincidunt non arcu nec, feugiat egestas mauris. Fusce fermentum, tortor ac porta sagittis, velit arcu interdum leo, ac interdum neque urna pulvinar tortor. Vivamus nibh ligula, pulvinar semper est vel, euismod mattis est. Vestibulum auctor, magna vestibulum consectetur ultricies, felis nisi pharetra sapien, et elementum metus diam vitae eros. Nam commodo volutpat odio non ornare. Pellentesque ornare convallis tincidunt. Vestibulum at nisi commodo nibh auctor sodales ut in neque. Etiam ac quam cursus, dapibus massa sed, tempor lorem.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>
