<!DOCTYPE html>
<html lang="es">

<head>
  <% include ../../partials/head %>
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <main class="container-fluid ctm-fullh">
    <div class="row ctm-fullh">
      <% include ../../partials/dashboard/sidebar %>
        <div class="col">
          <div class="row animated FadeInRight">
            <div class="col-12 title">
              <h2>Home</h2>
            </div>
          </div>
          <div class="row ctm-fullh">
            <div class="col-12 content">

              <div class="row">
                <div class="col-12">
                  <h2>Username:
                    <%= user.local.email %>
                  </h2>
                  <form class="" action="index.html" method="post">
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" value="<%= user.local.email %>" id="name" name="name">
                    </div>

                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="text" class="form-control" value="<%= user.local.email %>" id="email" name="email">
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
        </div>
    </div>
  </main>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>

</html>