.container-fluid {
  margin-top: 0;
}

.content {
  padding: 15px;
}

#sidebar {
  height: 100%;
  background: #EEE;
  padding: 15px 0px;
}

#sidebar .avatar img {
  width: 60%;
  margin: 8px;
}

#sidebar ul {
  padding: 0; 
  width: 100%;
  margin-top: 30px;
}

#sidebar ul li {
  list-style: none;
  padding: 10px 13px;
  text-align: center;
}

#sidebar ul li:hover {
  background: #CCC;
}

#sidebar ul li i {
  font-size: 1.5em;
}

#hidemenu {
  width: 55px;
}

.title {
  padding: 0;
}

.title h2 {
  background-color: #673AB7;
  color: #FFF;
  padding: 10px;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 850px) {
  #sidebar .avatar img {
    width: 90%;
    margin: 0;
  }
  #sidebar ul a span {
    display: none;
  }
}

@media (max-width: 500px) {
  #sidebar ul li i {
    font-size: 1em;
  }

  #sidebar ul {
    margin: 0;
  }

  #sidebar ul li {
    padding: 10px 0;
  }
}
}

/* CAMPAIGNS */

.card {
  margin: 15px;
  border-top: 5px solid #673AB7;
  border-radius: 0px;
}

.card p {
  text-align: center;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// AÑADIDO

