<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="bg"></div>
      <div class="jumbotron jumbotron-fluid text-center animated bounceInDown">
        <h1 class="display-3"><b>Shout</b>It!</h1>
        <p class="lead">Application to manage campaigns</p>
        <p class="lead">
          <%if (sesion == "yes") { %>
            <p>Welcome <%= username %></p>
            <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Go to dashboard</a>
          <% } %>
          <% if (sesion == "no") { %>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
              Sign up
            </button>
            <!--<a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>-->
            <span>or</span>
            <!--<a class="btn btn-primary btn-lg" href="/login" role="button" data-toggle="modal" data-target="#login">Sign in</a>-->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
              Sign in
            </button>
          <% } %>
        </p>

      </div>
      <div class="container">
        <h2>MultiPlatform</h2>
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
            <img src="/img/responsive.png" alt="">
          </div>
        </div>
      </div>
      </div>

    </main>
    <% include ../partials/login %>
    <% include ../partials/register %>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
