<!DOCTYPE html>
<html lang="es">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body style="overflow: hidden;">

  <header>
    <% include ../partials/header %>
  </header>

  <main class="ctm-fullh bg-lila">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="animated bounceInDown">
        <h1 class="display-3">ShoutIt!</h1>
        <p class="lead">Application to manage campaigns</p>
        <p class="lead">
          <a href="/login" class="btn btn-primary btn-lg btn-inverse" role="button">Sign In</a>
          <span>or</span>
          <a href="/signup" class="btn btn-primary btn-lg btn-inverse" role="button">Sign Up</a>
        </p>
      </div>

      <img src="/img/browser.png" class="img-fluid animated bounceInUp" alt="">
    </div>
  </div>

</main>
<% include ../partials/login %>
<% include ../partials/register %>
<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
