<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <h2 class="display-3"><b>Shout</b>It!</h2>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4 text-center">
          <form action="/signup" method="post">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name">
            </div>

            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Mail">
            </div>

            <div class="form-group">
              <input type="text" name="user" class="form-control" placeholder="Username">
            </div>

            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
              <input type="submit" name="Sign up" value="Sign up" class="btn btn-primary">
            </div>

          </form>
        </div>
      </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
