<!DOCTYPE html>
<html>
<head>
	<title>MakeSelf</title>
	<% include ../../partials/head %>
  <link rel="stylesheet" href="/css/editor/editor.css">
</head>

<body>
  <% include ../../partials/header %>

	<div class="container-fluid">
    <div class="row">
			<div class="col-12" id="optionsmenu">
				<div class="col">
					<div class="row align-items-center"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-1" id="menu">
				<ul class="text-center">
					<li id="setDragg"><i class="fa fa-arrows" aria-hidden="true"></i></li>
					<li id="setSquare"><i class="fa fa-square"  aria-hidden="true"></i></li>
					<li id="setCircle"><i class="fa fa-circle" aria-hidden="true"></i></li>
					<li id="setText"><i class="fa fa-pencil" aria-hidden="true"></i></li>
				</ul>
			</div>

			<div class="col-11 text-center" id="canvas"></div>
		</div>
	</div>

  <footer>
    <script>
      var docsize = " <%= tamaño %>" ;
      var docsplit = docsize.split("x");
      var docw = docsplit[0];
      var doch = docsplit[1];
    </script>
      <% include ../../partials/footer %>
      <script src="/js/editor/libs/p5.min.js" charset="utf-8"></script>
      <script src="/js/editor/class/circle.js" charset="utf-8"></script>
      <script src="/js/editor/class/square.js" charset="utf-8"></script>
      <script src="/js/editor/class/text.js" charset="utf-8"></script>
      <script src="/js/editor/editor.js" charset="utf-8"></script>
  </footer>
</body>
</html>
