<!DOCTYPE html>
<html>
<head>
	<title>MakeSelf</title>
	<% include ../../partials/head %>
</head>

<body>
  <% include ../../partials/header %>

	<div class="container-fluid">
    <h3 class="text-center">Social Media</h3>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">800x600</h3>
            <p class="card-text">For Facebook.</p>
            <a href="/dashboard/editor/800x600" class="btn btn-primary">Select</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">800x800</h3>
            <p class="card-text">For Instagram.</p>
            <a href="/dashboard/editor/800x800" class="btn btn-primary">Select</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">1024x512</h3>
            <p class="card-text">For Twitter.</p>
            <a href="/dashboard/editor/1024x512" class="btn btn-primary">Select</a>
          </div>
        </div>
      </div>
    </div>

      <h3 class="text-center">Paper</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">A4</h3>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">A4 Landscape</h3>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">Poster</h3>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>

  <footer>
      <% include ../../partials/footer %>
  </footer>
</body>
</html>
