/* OPTIONS MENU */

#optionsmenu {
  background-color: #EEEEEE;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#optionsmenu .row {
  height: 100%;
}

#optionsmenu .col, #optionsmenu .col .row {
  height: 100%;
}

#optionsmenu .input-group {
  width: 100px;
  height: 23px;
}

#optionsmenu .input-group input {
  padding: 0;
}

#optionsmenu select {
  padding: 0px 20px 0px 5px;
  height: 24px;
}

#optionsmenu input[type=color] {
  padding: 0;
  width: 30px;
  border: none;
}

/* MENU */

#menu {
  padding: 0;
  position: fixed;
  height: 100%;
  z-index: 2;
}

#menu ul {
  height: 100%;
  padding: 0;
  background-color: #673AB7;
}

#menu ul li {
  list-style: none;
  padding: 5px;
}

#menu ul li i {
  color: white;
}

#menu ul li.active {
  background-color: #311B92;
}

/* CANVAS */
#main {
  margin-top: 45px;
}
.main {
  z-index: 1;
  background-color: #EEE;
}

#svg {
  margin-left: 120px;
  width: 400px;
  height: 600px;
  padding: 0;
  background-color: white;
  display: block;
  margin: 0 auto;
}
